<footer class="footer">
  <a href="./#header" title="go to top">
    <div class="footer__icon">
      <img src="./assets/images/ico-arrow.svg" />
    </div>
  </a>
  <div class="footer__content">
    <nav>
      <ul class="footer__mainNav">
        <li>
          <a href="https://adalab.es/" target="_blank" title="Go to Adalab">
            articles</a
          >
        </li>
        <li>
          <a href="https://adalab.es/" target="_blank" title="Go to Adalab">
            books</a
          >
        </li>
        <li>
          <a href="https://adalab.es/" target="_blank" title="Go to Adalab">
            events</a
          >
        </li>
        <li>
          <a href="https://adalab.es/" target="_blank" title="Go to Adalab">
            reasons</a
          >
        </li>
        <li>
          <a href="https://adalab.es/" target="_blank" title="Go to Adalab">
            tips</a
          >
        </li>
      </ul>
    </nav>
    <nav>
      <ul class="footer__socialMedia">
        <li>
          <a href="https://adalab.es/" target="_blank" title="Go to Adalab">
            twitter</a
          >
        </li>
        <li>
          <a href="https://adalab.es/" target="_blank" title="Go to Adalab">
            instagram</a
          >
        </li>
        <li>
          <a href="https://adalab.es/" target="_blank" title="Go to Adalab">
            mastodon.social</a
          >
        </li>
      </ul>
    </nav>
    <div class="footer__copy">
      <p>&copy 2017</p>
      <p><span class="footer__copyIcon">we</span><span>components</span></p>
    </div>
  </div>
</footer>
