<footer class="footer">
  <div class="footer__icon">
    <img src="./assets/images/ico-arrow.svg" />
  </div>
  <div class="footer__content">
    <nav>
      <ul class="footer__mainNav">
        <li>
          <a href="">articles</a>
        </li>
        <li>
          <a href="">books</a>
        </li>
        <li>
          <a href="">events</a>
        </li>
        <li>
          <a href="">reasons</a>
        </li>
        <li>
          <a href="">tips</a>
        </li>
      </ul>
    </nav>
    <nav>
      <ul class="footer__socialMedia">
        <li>
          <a href="">twitter</a>
        </li>
        <li>
          <a href="">instagram</a>
        </li>
        <li>
          <a href="">mastodon.social</a>
        </li>
      </ul>
    </nav>
    <div class="footer__copy">
      <p>&copy 2017</p>
      <p><span class="footer__copyIcon">we</span><span>components</span></p>
    </div>
  </div>
</footer>
