<header id="header" class="header">
  <a href="https://adalab.es/" target="_blank" title="Go to Adalab">
    <nav class="header__menu">
      <img src="./assets/images/ico-menu.svg" alt="menu" />
    </nav>
  </a>
  <h1 class="header__title">
    <span>anonymous</span>
    <span>proxy</span>
  </h1>
  <p class="header__phrase">In hac habitasse platea dictumst.</p>
  <a href="./#reasonsSection" title="go to reasons to purchase">
    <div class="header__arrow">
      <img src="./assets/images/ico-scroll-down.svg" alt="scroll down" />
    </div>
  </a>
</header>
