// COLORS

$primary-color: #0271bc;
$secondary-color: #f26002;
$tertiary-color: #304268;
$light-color: #ffffff;
$medium-color: #eff9ff;
$dark-color: #4a4a4a;
$emphasis-font-color: #8ccbea;

// FONTS

$main-font: "Roboto", sans-serif;
$headings-font: "Roboto Slab", serif;
$regular-font: 400;
$bold-font: 600;

//BREAKPOINTS

$tablet: 768px;
$desktop: 1200px;
