// COLORS

$primary-color: #0271bc;
$secondary-color: #f26002;
$tertiary-color: #304268;
$dark-font-color: #000000;
$light-font-color: #eff9ff;
$emphasis-font-color: #8ccbea;

// FONTS

$main-font: "Roboto", sans-serif;
$headings-font: "Roboto Slab", serif;
$regular-font: 400;
$bold-font: 600;
