.footer {
  position: relative;
  height: 465px;
  background: $tertiary-color;
  color: $light-color;
  padding-bottom: 45px;

  @include tablet {
    height: 240px;
  }

  &__icon {
    display: none;

    &:hover > img {
      animation: loop 0.5s;
    }

    @include tablet {
      @include flex-centered;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 45px;
      width: 45px;
      background-color: $light-color;
      border-radius: 22.5px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 60px;

    @include tablet {
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      text-align: justify;
    }
  }

  &__mainNav {
    li {
      @include unstyled-nav;
    }

    a {
      @include unstyled-uppercase-links;
      padding: 5px;
    }
  }

  &__socialMedia {
    margin-top: 30px;

    li {
      @include unstyled-nav;
    }

    a {
      @include unstyled-uppercase-links;
    }

    @include tablet {
      margin-top: 0px;
    }
  }

  &__copy {
    margin-top: 30px;
    line-height: 2.14;
    font-size: 14px;
    display: block;

    @include tablet {
      order: -1;
      margin-top: 0px;
    }
  }

  &__copyIcon:after {
    content: " ❤︎ ";
    color: $secondary-color;
  }
}

@keyframes loop {
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(380deg);
  }
}
