.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  height: 100vh;
  background: url("../images/cover.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  color: $light-color;

  &__menu {
    @include flex-centered;
    position: fixed;
    top: 0;
    left: 0;
    width: 44px;
    height: 44px;
    background: $primary-color;
  }

  &__title span {
    display: block;
    text-align: center;
    line-height: 55px;
    font-family: $headings-font;
    font-size: 42px;
    text-transform: uppercase;
    margin-bottom: 10px;

    @include tablet {
      font-size: 80px;
      line-height: 106px;
    }

    @include desktop {
      font-size: 100px;
      line-height: 132px;
    }
  }

  &__phrase {
    font-size: 16px;
    margin-bottom: 45px;

    @include tablet {
      font-size: 24px;
      margin-bottom: 30px;
    }
  }

  &__arrow {
    @include flex-centered;
    width: 45px;
    height: 45px;
    background-color: $light-color;
    border-radius: 100%;
    margin-bottom: 53px;

    &:hover > img {
      animation: down-move 0.8s;
    }

    @include tablet {
      margin-bottom: 45px;
    }

    @include desktop {
      margin-bottom: 13px;
    }
  }
}

@keyframes down-move {
  0%,
  50%,
  100% {
    transform: translate(0px);
  }
  25% {
    transform: translate(0px, 5px);
  }
  75% {
    transform: translate(0px, 8px);
  }
}
