.main {
  &__infoSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 10px 45px;
    height: 376px;

    @include tablet {
      padding: 30px 39px 60px;
      height: 330px;
    }

    @include desktop {
      padding-top: 60px;
    }
  }

  &__lightHeading {
    font-size: 14px;
    font-weight: lighter;
    color: $emphasis-font-color;
    margin-bottom: 10px;
  }

  &__infoSectionHeading {
    font-size: 24px;
    font-family: $headings-font;
    text-transform: capitalize;

    @include tablet {
      font-size: 26px;
    }
  }

  &__infoDescription {
    font-size: 18px;
    line-height: 1.67;
    color: $dark-color;

    @include tablet {
      font-size: 20px;
    }
  }

  &__infoButton {
    width: 76px;

    @include tablet {
      width: 91px;
    }

    @include desktop {
      width: 160px;
    }
  }

  &__reasonsSection {
    background-color: $medium-color;
  }

  &__reasonsSection .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% repeat(3, 25%) 15%;
    height: 624px;
    padding: 30px 15px 60px;
    line-height: 1.67;

    @include tablet {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      height: 397px;
      padding: 30px 15px 60px;
    }

    @include desktop {
      height: 427px;
      padding: 60px 80px;
    }
  }

  &__reasonsSectionHeading {
    font-family: $headings-font;
    font-size: 24px;
    align-self: start;
    justify-self: center;

    @include tablet {
      grid-column: span 3;
      font-size: 26px;
    }

    @include desktop {
      font-size: 32px;
    }
  }

  &__reasons {
    text-align: center;
    align-self: center;
    justify-self: center;

    @include tablet {
      align-self: start;
    }
  }

  &__reasonsHeading {
    font-family: $headings-font;
    font-size: 18px;

    @include tablet {
      font-size: 24px;
    }
  }

  &__reasonsDescription {
    width: 180px;
    font-size: 18px;
    line-height: 1.67;

    @include tablet {
      font-size: 20px;
      margin-top: 15px;
      width: 212px;
    }

    @include desktop {
      width: 350px;
    }
  }

  &__reasonsSectionButton {
    width: 184px;
    align-self: end;
    justify-self: center;

    @include tablet {
      grid-column: span 3;
      width: 210px;
    }
    @include desktop {
      width: 255px;
    }
  }
}
